@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* 
npx @tailwindcss/cli -i ./styles/styles.css -o ./src/output.css --watch
*/

:root {
	--color_black: #2c2825;
	--color_yellow: #ffc800;
}

.font_fancy {
	font-family: "Caprasimo", serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	color: var(--color_black);
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	font-family: "Outfit", sans-serif;
}

a {
	all: unset;
	cursor: pointer;
}

nav {
	position: sticky;
	top: 0;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 2px solid var(--color_black);
	background-color: white;
	z-index: 100;
}

.main_logo {
	font-size: 1.5rem;
	letter-spacing: -1px;
}

.nav_links {
	display: flex;
	gap: 30px;
	font-weight: 600;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.hero_text {
	font-size: 10rem;
}

.hero_img {
	object-fit: contain;
}

.who {
	margin: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}

.title {
	font-size: 2rem;
	max-width: 60%;
	text-align: center;
	font-weight: 600;
	line-height: 2rem;
	margin: 40px 0;
}

.sub_title {
	font-size: 14px;
	font-weight: 600;
	color: #505050;
}

.about_us {
	background-color: var(--color_yellow);
	max-width: fit-content;
	padding: 5px 10px;
	font-weight: 800;
	font-size: 0.8rem;
	border-radius: 5px;
}

.gallery_flow {
	margin: 100px 0;
	overflow: hidden;
	max-width: 100%;
	display: flex;
	width: max-content;
	animation: scroll 20s linear infinite;
}

.each_flow {
	max-height: 300px;
	width: auto;
	margin: 0 10px;
	border-radius: 2rem;
	object-fit: cover;

	animation: scroll-with-page linear;
	animation-timeline: scroll(root);
}

@keyframes scroll-with-page {
	from {
		transform: translateX(-250%);
	}
	to {
		transform: translateX(0);
	}
}
